body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

h1, h5 {
    color: #343a40;
}

.navbar {
    margin-bottom: 20px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 15px;
}

.card-title a {
    text-decoration: none;
    color: #007bff;
}

.card-title a:hover {
    color: #0056b3;
}
