<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Scraper Search</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Web Scraper</h1>
        </header>
        <section class="search-section">
            <div class="search-container">
                <h2>Search for Products</h2>
                <form action="{{ url_for('scrape') }}" method="POST" class="search-form">
                    <input type="text" id="product_name" name="product_name" required>
                    <button type="submit">Search</button>
                </form>
            </div>
        </section>
    </div>
</body>
</html>
